# Bundler
.bundle/
vendor/

# Jekyll
_site/
.sass-cache/
.jekyll-cache/

# Ruby
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
Gemfile.lock

# YARD artifacts
.yardoc
_yardoc
doc/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
_config_dev.yml
